---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
          {{ page.maintitle }}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article class="text-justify">
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
             {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

             {% if page.profile.image_circular %}
               {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
             {% else %}
               {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
             {% endif %}

             {% include figure.html
             path=profile_image_path
             class=profile_image_class
             alt=page.profile.image -%}
           {% endif -%}
            {% twitter https://twitter.com/ICSMH23 maxwidth=500 limit=1 %}
            <div class="card-item col">
              <a href="mailto:{{ site.email | encode_email }}" title="contact">
                <div class="card hoverable">
                      <div class="card-body p-3">
                        <h3 class="card-title">{{ Contact }}</h3>
                        <p class="card-text">{{ Organization: Marie Luise Schreiter }}</p>
                        <p class="card-text">{{ For questions please contact us per mail}}</p>
                        <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
                      </div>
                  </div>
              </a>
            </div>
          </div>
          {%- endif %}


          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}

          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
              {% include banner.html %}
              </div>
            <div class="contact-icons">
            {% include social.html %}
            </div>
            <div class="contact-note">
              {{ site.contact_note }}
            </div>
          </div>
          {%- endif %}

        </article>

</div>
