---
layout: default
---
<!-- page.html -->
        <div class="post">

          <article>
            <div class="profile float-left">
              <div class="cardProfile">
                {%- assign profile_image_path = page.img -%}
                {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=page.img -%}
              <h1 class="card-title">{{page.title }}</h1>
              {%- if page.affiliation -%}
              <p class="card-text">{{page.affiliation}}</p>
              {%- endif -%}
              <p class="card-text">Keynote {{page.description}}</p>
              {%- if page.html -%}
              <a href="{{ page.html }}" title="Personal Website"><i class="ai ai-archive"></i></a>
              {% endif %}
              {%- if page.twitter -%}
              <a href="https://twitter.com/{{ page.twitter }}" title="Twitter"><i class="fab fa-twitter"></i></a>
              {% endif %}
              </div>
            </div>

            <div class="clearfix text-justify">
              {{ content }}
            </div>

          </article>

        </div>
